
/* Styling for Landing Project Pages  */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
   font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


nav {
    margin-left: 400px;
}



.header-logo {
    font-size: 24px;
    font-weight: bold;

}



ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    color: white;
}

ul {
    display: flex;
    justify-content: end;
    gap: 25px;
    text-decoration: none;
 
}

.upper-section {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.l-upper-section {
    display: flex;
    flex-direction: column;
    width: 425px;
    align-items: baseline;
    margin-right: 30px
}

.r-upper-section {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color: #AEAFB3;
    width: 425px;
}

#main-title {
    font-weight: 900;
    font-size: 48px;
    /* color: #F9FAF8; */
}

#subtext1 {
    font-size: 18px;
    /* color: #E5E7EB; */
}


button[type="submit"] {
    background-color: #3882F6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  #quadrant-a {
    background-color: #1F2937;
  }

  .white-font {
    color: #F9FAF8;
  }

  #quadrant-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  #compound-container {
    display: flex;
    height: 200px; 
    width: 700px;
    justify-content: center;

  }



  .box {
    border: 3px solid #3882F6;
    width: 130px;
    height: 120px;
    border-radius: 10px;

  }

  .small-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #mid-heading {
    padding-bottom: 20px;
    font-size: 36px;
  }

  .bold-text {
    font-weight: bold;
  }

  #quadrant-c {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* text-align: center;  */
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
  }

  #third-paragraph {
    font-style: italic;
    font-size: 36px light; 
    width: 605px;
  }

  #right-text {
    text-align: right;
    width: 550px;
  }